{{ define "content" }}

<div class="container">
    <h1 style="font-weight: inherit;">Signing in...</h1>
</div>

<script type="module">
const params = new URLSearchParams(location.search)
const eventId = params.get("eventId") ?? "";
// const url = `https://script.google.com/a/macros/umn.edu/s/AKfycbxjTWw61X02AyfmYGXDi7WOlibHtw6JK2rTxSLj2rQZRnCoznY9FUFBatOibchbrZPZ/exec?eventId=${eventId}`
const urlStub = "https://script.google.com/a/macros/umn.edu/s/AKfycbxg8cJS6WQFnLj-cQi3HFWQnPZHL7u_JKrw63_NBxrp0gROyB-JBo2UCOAfL3TFV-1L/exec";
    // old https://script.google.com/a/macros/umn.edu/s/AKfycbyDTdIh8C-6g0E4VxaYXOhYHIl-o51zNmkh4yF_EeFcGJaRawH5is-A2AmJ3JEpFaJO/exec 
const url = `${urlStub}?eventId=${eventId}`;

document.addEventListener("DOMContentLoaded", (event) => {
    location.href = url;
});
</script>


{{ end }}

