---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { page: page.id },
    props: { page },
  }));
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { Content } = await render(page);
---

<Layout>
  <h1>{page.data.title}</h1>

  <Content />
</Layout>
