---
import { getCollection } from "astro:content";
import { Content as HomePage } from "../content/homePage.md";
import Layout from "../layouts/Layout.astro";
import HomeEvent from "../components/HomeEvent.astro";
import BlogList from "../components/BlogList.astro";

const posts = await getCollection("blog");

const allEvents = await getCollection("events");

// Website needs to be built periodically for this to work
const now = new Date();
---

<Layout>
  <HomePage />

  <h2>Recent posts</h2>

  <BlogList limit={5} />
</Layout>
