---
import OfficerCard from "./OfficerCard.astro";

const { officers } = Astro.props;
---

<h2>Current</h2>

<div class="cards">
  {officers.current.map((officer) => <OfficerCard officer={officer} />)}
</div>

<h2>Alumni</h2>

<div class="cards">
  {officers.alumni.map((officer) => <OfficerCard officer={officer} />)}
</div>

<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
