---
import { Content as LeftBar } from "../content/leftBar.mdx";

import "@fontsource/monaspace-neon";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GopherHack</title>
  </head>
  <body>
    <div class="container">
      <div class="left-bar">
        <div class="sticky">
          <h1><a href={`${import.meta.env.BASE_URL}`}>GopherHack</a></h1>
          <LeftBar />
        </div>
      </div>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;

    color: #beb7a2;
    background-color: black;

    font-size: 0.95rem;
    font-family: "Monaspace Neon", monospace;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffde7a;
    }
    a {
      color: #d63d61;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 0;
    padding-bottom: 40px;

    width: 972px;
    margin: auto;
  }

  .left-bar {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    .sticky {
      padding-top: 20px;
      position: sticky;
      top: 0;
    }
  }

  main {
    flex-grow: 1;
    padding-top: 20px;
  }
</style>
