name: "Deploy website"
on:
  push
jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nixbuild/nix-quick-install-action@v5
        with:
          nix_version: 2.9.2
          nix_conf: experimental-features = nix-command flakes
      - name: nix build
        run: nix build -o result-public -L
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: result-public
